<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mtm.baseapp">

    <application>
        <activity android:name="com.mtm.widget.DateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" />
    </application>
</manifest>